/* RESET */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(31, 50, 71);
    color: white;
}

body [
]

div {
    display: block;
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 2rem;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

h1 {
    color: rgb(175, 72, 158);
    margin-bottom: 1em;
}

h3 {
    color: orange;
    margin-bottom: 1em;
}

.row {
    border: 2px solid yellow;
    padding: 20px;
}

.col {
    border: 1px solid red;
    width: calc(100% / 3 - 40px / 3);
    float: left;
    padding: 20px;
}

.col.middle {
    margin: 0 20px;
}

img {
    max-width: 100%;
    margin-bottom: 1em;
}